body{
    margin: 0;
    padding: 0;
}

header{
    min-height: 20vh;
    background-color: aquamarine;
}
.container_form{
    min-height: 80vh;
}
.container_form form{
    display: flex;
    justify-content: center;
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
}