body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh; 
       
}
.cabecalho{
    height: 100px;
    background-color: #019254;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_options{
    min-height: 20vh;
    display: flex;
}
.container_options div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#forms{
    display: none;
}

