body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh; 
       
}

.cabecalho{
    position: relative;
    height: 100px;
    background-color: #00aeed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.titulo{
    flex: 0 1 auto;
    width: 200px;
    height: 100px;
    position: absolute;
    /* new */
    left: 50%;
    transform: translateX(-50%);
}

.formularioBackground{
    display: grid;
    align-content: center;
    justify-content: center;
    height: 82vh;
}

.container_options{
    display: flex;
    width: 70vw;
    height: 400px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 35px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px blue;

}

#forms{
    display: none;
    vertical-align: middle;
}

.btn{
    display: table-cell;
    margin-left: 20px;
    margin-top: 52px;
    cursor: pointer;
    display: table;
    width: 250px;
    vertical-align: middle;
    font-size: 23px;
    background-color: #8dcff4;
    /* color: #006189;*/
    color: #8dcff4;
    border-radius: 35px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 3px 4px 2px;
    transition-duration: 0.5s;
    text-decoration: none;
    text-align: center;
    font-family: 'Noto Serif Khojki', serif;
    
}
.btn:hover {
    background-color: #009cda;
    box-shadow: 3px 4px 0 black;
    color: black;
}

.btn:active{
    position: relative;
    box-shadow: none;
    top: 4px;
}

.link{
    text-decoration: none;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    padding: 100%;
}

.img{
    width: 85%;
    height: 85%;
    border-radius: 50px;
    border: 2px solid black; 
    box-shadow: 2px 2px 2px blue;   
}
.imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.img:hover{
    background-image: url("https://graffite.vteximg.com.br/arquivos/ids/162963-1000-1000/2762105425a946ba8de.jpg?v=637032820529930000");
}

.logoutButtonBox{
    flex: 0 1 auto;
    width: 100px;
    height: 100px;
    margin-left: auto;
    padding-top: 50px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.logoutButton{
    display: flex;
    background-color: white;
    margin-right: 10px;
    border-radius: 35px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    transition: 0s;
    width: 100px;
    height: 45px;
}
.logoutButton:active{
    position: relative;
    box-shadow: none;
    top: 4px;
}

.logoutImg{
    max-width: 30px;
    height: 30px;
    padding: 5px;
}
