/*Geral*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

/*Header*/
.cabecalho{
    height: 100px;
    background-color: #00aeed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}


/*Main*/
main{
    width: 100%;
}
.container{
    
    text-align: justify;
    display: flex;
}

.button {
    margin: 25p;
    font-size: 23px;
    background-color: #8dcff4;
    color: #006189;
    border-radius: 35px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 3px 4px 2px;
    transition-duration: 0.5s;
    text-decoration: none;
    font-family: 'Noto Serif Khojki', serif;
}
.feitoPor {
    background-color: #111;
    color: white;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    font-size: 40px;
    border-radius: 50px 0;
    text-shadow: 5px 5px 5px #000080;
}

.feitoPor:hover:after {
    content: " \1F44C";
}

.feitoPor:hover:before {
    content: "\1F44C ";
}
.botao{
    text-align: center;
}

.error_msg{
    color: white;
}


.button:hover {
    background-color: #009cda;
    box-shadow: 3px 4px 0 black;
    color: black;
}

.button:active{
    position: relative;
    box-shadow: none;
    top: 4px;
}


.container_text{
    width: 20vw;
    height: 30vw;
    border-width: 3px;
    border-style: solid;
    border-color: #222;

}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn_login a{
    text-decoration: none;
}

/*Footer*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
}