body{
    margin: 0;
    padding: 0;
}
.container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.bg-image{
}

.form{
    display: flex;
    border: 3px solid #aaa;
    height: 20vh;
  
}
.left{
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    flex-direction: column;
}