
.container_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.left{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

.right{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
}

.alignment{
    display: flex;
}

.form-group{
    padding: 5px;
}
.form{
    border: 3px solid black;
    height: 20vh;
    color: white;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 2px blue;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.input{
    border-radius: 25px;
    height: 25px;
}

.button{
    border-left: 10px;
    border-right: 10px;
    width: 150px;
    height: 50px;

}
.rightButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}