/*Geral*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

/*Header*/
.cabecalho{
    position: relative;
    height: 100px;
    background-color: #00aeed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.titulo{
    flex: 0 1 auto;
    width: 200px;
    height: 100px;
    position: absolute;
    /* new */
    left: 50%;
    transform: translateX(-50%);
}

.logoutButtonBox{
    flex: 0 1 auto;
    width: 100px;
    height: 100px;
    margin-left: auto;
    padding-top: 50px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.logoutButton{
    display: flex;
    background-color: white;
    margin-right: 10px;
    border-radius: 35px;
    padding: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    cursor: pointer;
    transition: 0s;
    width: 100px;
    height: 45px;
}

.logoutButton:hover {
    background-color: gray;
    box-shadow: 3px 4px 0 black;
    color: black;
}

.logoutButton:active{
    position: relative;
    box-shadow: none;
    top: 4px;
}

.logoutImg{
    max-width: 30px;
    height: 30px;
    padding: 5px;
}

body{
    background-image: url(https://i.imgur.com/ZEMf2XO.png);
}

/*Main*/
main{
    width: 100%;
}
.container{
    text-align: justify;
    display: flex;
}

.button {
    margin: 25px;
    font-size: 23px;
    background-color: #8dcff4;
    color: #006189;
    border-radius: 35px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 3px 4px 2px;
    transition-duration: 0.5s;
    text-decoration: none;
    font-family: 'Noto Serif Khojki', serif;
}

.formsBackground{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    height: 82vh;
}

.feitoPor {
    background-color: #111;
    color: white;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    font-size: 40px;
    border-radius: 50px 0;
    text-shadow: 5px 5px 5px #000080;
}

.feitoPor:hover:after {
    content: " \1F44C";
}

.feitoPor:hover:before {
    content: "\1F44C ";
}
.botao{
    text-align: center;
}

.error_msg{
    color: white;
}


.button:hover {
    background-color: #009cda;
    box-shadow: 3px 4px 0 black;
    color: black;
}

.button:active{
    position: relative;
    box-shadow: none;
    top: 4px;
}


.container_text{
    width: 20vw;
    height: 30vw;
    border-width: 3px;
    border-style: solid;
    border-color: #222;

}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn_login a{
    text-decoration: none;
}

/*Footer*/
footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
}