<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/secretaria/cadastrarAluno.css" th:href="@{/assets/css/secretaria/cadastrarAluno.css}">

    <title>Página da Secretaria</title>
</head>
<body>
    
    <main>
        <div class="bg-image"></div>
        <div class="container_form">
            <form class="form" th:object="${aluno}" th:action="@{/registrarAluno}" th:method="POST">
                <div class="left">
                    <div class="form-group">
                        <input type="text" th:field="*{idUser}" required>
                        <label class="id">Id</label>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{name}" required>
                        <label class="name">Nome Completo</label>
                    </div>
                    <div class="form-group">
                        <input type="email" th:field="*{email}" required>
                        <label class="email">Email</label>
                    </div>
                </div>
                <div class="right">
                    <div class="form-group">
                        <input type="text" th:field="*{motherName}" required>
                        <label class="motherName">Nome da mãe</label>
                    </div>
                    <div class="form-group">
                        <input type="text"th:field="*{fatherName}" >
                        <label class="fatherName">Nome do pai</label>
                    </div>
                </div>
                <input type="submit" value="Cadastrar">
            </form>
        </div>
    </main>

</body>
</html>