<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/secretaria/aluno-disciplina.css" th:href="@{../static/css/secretaria/aluno-disciplina.css}">

    <title>Página da Secretaria</title>
</head>
<body>

    <header>
        
    </header>
    
    <main>

        <div class="container_form">
            <form class="form" th:action="@{/registrarAlunoDisciplina}" th:method="POST">

                <div class="form-group">
                 <input type="text" th:value="${aluno.idUser}" th:field="*{aluno.idUser}" placeholder="Insira o id de um aluno" required>
                     <select name="courses" th:value="${disciplina.subjectName}" th:field="*{disciplina.subjectName}" required>
                        <option th:value="'Álgebra Linear'">Álgebra Linear</option>
                        <option th:value="'Estrutura de Dados'">Estrutura de Dados</option>
                        <option th:value="'Sistemas Operacionais'">Sistemas Operacionais</option>
                        <option th:value="'Programação Orientada a Objetos'">Programação Orientada a Objetos</option>
                        <option th:value="'Logistica'">Logística</option>
                    </select>
                    <input type="submit" name="btn_submit" id="submit" value="Pesquisar">
                </div>
                
            </form>
        </div>

    </main>

</body>
</html>