<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/cadastrarDisciplina.css">

    <title>Página da Secretaria</title>
</head>
<body>

    <header>
        
    </header>
    
    <main>
        <div class="container_form">
            <form action="POST" class="">
                <div class="form-group">
                    <input type="text" placeholder="Insira o nome de um aluno">
                    <input type="submit" name="btn_submit" id="submit" value="Pesquisar">
                    <select name="courses" id="cources">
                        <option value="Linear Algebra">Álgebra Linear</option>
                        <option value="data-structure">Estrutura de Dados</option>
                        <option value="operational-system">Sistemas Operacionais</option>
                        <option value="oo-programming">Programação Orientada a Objetos</option>
                    </select>
                </div>
                
            </form>
        </div>
    </main>

</body>
</html>