<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}" />
    <link rel="shortcut icon" href="../static/assets/images/icon-site.jpeg" th:href="@{/assets/images/icon-site.jpeg}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@700&display=swap" rel="stylesheet">

    <title>Núcleo Estudantil</title>
</head>
<body>

    <header>
        <div class="cabecalho">
            <div class="titulo"><h1>φ FI Goiano φ</h1></div>
        </div>
    </header>

    <main>
        <div class="container">
            <img class="container_text" src="https://i.pinimg.com/originals/39/5a/b5/395ab526c7f234a117d72eb6fda5dd63.jpg" alt="">
        </div>
        <br>
        <div class="botao">
            <a href="/login" class="button">Login</a>
        </div>
    </main>


    <footer>
        <div>
            <h1 class ="feitoPor">Feito por Bruno Cesar, Samuel Silva, Luan Ribeiro, Maria Clara e Luis direoto copiraigth 	&copy;</h1>
        </div>
    </footer>


</body>
</html>