<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Núcleo Estudantil</title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <div class="titulo"><h1>FI Goiano</h1></div>
        </div>
        
    </header>

    <main>
        <form action="/login" method="GET" >
            <div class="mat" >             
                <input type="email" id="email" required>
                <label  class="email" >Email</label>
            </div>
            <br>
            <div class="password">              
                <input type="password" id="password" required>
                <label class="password">Senha</label>
            </div>
            <br>
            <div class="botao_login">
                <input type="submit" value="Entrar">
            </div>
        </form>

    </main>

</body>
</html>