<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/login.css" th:href="@{/assets/css/login.css}" />
    <link rel="shortcut icon" href="../static/assets/images/icon-site.jpeg" th:href="@{/assets/images/icon-site.jpeg}">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}">

    <title>Núcleo Estudantil</title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <div class="titulo"><h1>φ FI Goiano φ</h1></div>
        </div>
    </header>

    <main class="formsBackground">
        <form th:object="${user}" th:action="@{/login}"  method="POST"  class="loginBox">
            <span th:class="error" th:if="${error}" class="error_msg">Email e/ou Senha incorretos</span>
            <div class="mat" >             
                <label class="lbl">Email</label>
                <input type="email" id="email" class="input" required th:field="*{email}">
            </div>
            <br>
            <div>
                <label class="lbl">Senha</label>
                <input type="password" name="id" class="input" id="password" required th:field="*{idUser}">
            </div>
            <br>
            <div >
                <input class="botao_login" type="submit" value="Entrar">
            </div>
        </form>
    </main>

    <footer>
        <div>
            <h1 class="feitoPor">Feito por Bruno Cesar, Samuel Silva, Luan Ribeiro, Maria Clara e Luis direoto copiraigth ©</h1>
        </div>
    </footer>


</body>
</html>