<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/secretaria.css" th:href="@{/assets/css/secretaria.css}" />
    <link rel="shortcut icon" href="../static/assets/images/icon-site.jpeg">

    <title>Núcleo Estudantil</title>
</head>
<body>
    
    <header>
        <div class="cabecalho">
            <div class="titulo"><h1>FI Goiano</h1></div>
        </div>
    </header>

    <main>
        <div class="container_options">
            <div><button id="btn1" onclick="function1" >Cadastrar Professor</button></div>
            <div><button>Cadastrar Aluno</button></div>
            <div><button>Matricular Aluno em Disciplina</button></div>
        </div>

        <div id="forms">
            <form>
                <div class="form-group">
                    <input type="number" class="id">
                    <label >Id</label>
                </div>
                <div class="form-group">
                    <input type="text" class="name-professor">
                    <label >Nome</label>
                </div>
                <div class="form-group">
                  <input type="email" class="email-professor">
                  <label >Endereço de email</label>
                </div>
                <div class="form-group">
                    <input type="text" class="degree-professor">
                    <label >Formação</label>
                </div>
                <div class="form-group">
                    <input type="text" class="masterDegree-professor">
                    <label >Mestrado</label>
                </div>
                <div class="form-group">
                    <input type="text" class="doctorDegree-professor">
                    <label>Doutorado</label>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>
    </main>

    <script>
        var btn= document.getElementById('btn1');
        btn.addEventListener('click', function(e){
            
        });  
    </script>

</body>

