<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/secretaria.css" th:href="@{/assets/css/secretaria.css}" />
    <link rel="shortcut icon" href="../static/assets/images/icon-site.jpeg" th:href="@{../static/assets/images/icon-site.jpeg}">

    <title>Núcleo Estudantil</title>
</head>
<body>
    
    <header>
        <div class="cabecalho">
            <div class="titulo"><h1>FI Goiano</h1></div>
        </div>
    </header>

    <main>
        <div class="container_options">
            <div><button>Cadastrar Professor</button></div>
            <div><button>Cadastrar Aluno</button></div>
            <div><button>Matricular Aluno em Disciplina</button></div>
        </div>


    </main>

</body>

