<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/assets/images/icon-site.jpeg" th:href="@{/assets/images/icon-site.jpeg}">
    <link rel="stylesheet" href="../static/assets/css/professor/visualizarAlunos.css" th:href="@{../static/assets/css/professor/visualizarAlunos.css}">
    <link rel="stylesheet" href="../static/assets/css/style.css">

    <title>Página do Professor</title>
</head>
<body>

    <header class="cabecalho">
        <div class="titulo"><h1>φ FI Goiano φ</h1></div>
        <div class="logoutButtonBox">
            <a class="logoutButton" href="../templates/login.html" th:href="@{../templates/login.html}">
                <img src="https://th.bing.com/th/id/R.775153caa86d459081e1059e6ecb10ac?rik=cffFRcVqQ27BWw&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_284036.png&ehk=TFcv7HlytR36H7vQRWW2LuochFcoIY0urQ%2bnjjjaaHc%3d&risl=&pid=ImgRaw&r=0" alt="logout" class="logoutImg" >
            </a>
    
        </div>
      </header>

<main>

    <table>
        <thead>
            <tr>
                <th>ID Aluno</th>
                <th>Nome</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody >
            <tr th:each="aluno : ${estudantes}">
                <td th:text="${aluno.idStudent}"></td>
                <td th:text="${aluno.nameStudent}"></td>
                <td th:text="${aluno.grade}"></td>
            </tr>
        </tbody>
    </table>

</main>

</body>
</html>