<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/login.css" th:href="@{../static/assets/css/aluno/visualizarNota.css}" />
    <link rel="shortcut icon" href="../static/assets/images/icon-site.jpeg" th:href="@{/assets/images/icon-site.jpeg}">

    <title>Página do Aluno</title>
</head>
<body>

<header>
    <div class="cabecalho">
        <div class="titulo"><h1>FI Goiano</h1></div>
    </div>
</header>

<main>

</main>

</body>
</html>