body{
    min-height: 40vh;
}
.cabecalho{
    height: 100px;
    background-color: #00aeed;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

form{
    min-height: 40vh;
    text-align: center;
    align-content: center;
}

.error{
    display: inline-block;
    text-align: center;
    align-content: center;
    width: 90px;
}